/*------------------------------------*\
   Dark Denim Skin
\*------------------------------------*/

/*

Main Color: #e85657
Second Color: #eee
Third Color: #e1e1e1

*/



#content {
	border-top: solid 3px #e85657;
}

body {
	background: #292929 url(../images/patterns/darkdenim3.png);
	color: #484848;
}

#main-header {
	background: none;
}

#header {
	background: none;
}

#slideshow_big {
	background: none;
}

#page-title {
	background: #eee;
}

#page-title .container {
	padding-top: 10px;
	border-top: none;
}

#page-title .container .full {
	margin-bottom: 10px;
}

#page-title .container .full h2 {
	color: #9e9e9e;
	text-transform: uppercase;
	letter-spacing: 1px;
}


#main {
	background-color: #fff;
}

#page-title h1, #page-title h2, #page-title h3, #page-title h4, #page-title h5, #page-title h6, #page-title hp {
	color: #e1e1e1;
}

#main p, #main h1, #main h2, #main h3, #main h4, #main h5, #main h6, #socket p, #socket h1, #socket h2, #socket h3, #socket h4, #socket h5, #socket h6, #footer p, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, .widget-title, .entry-title span, .news-headline, .twitter-headline, .copyright {
	color: #484848;
}

.pagination span {
	color: #484848;
}

.sidebar .widget .links li, .sidebar .widget .archive li {
	border-bottom: dotted 1px #666;
}

.sidebar .widget .links > ul, .sidebar .widget .archive > ul {
	border-top: dotted 1px #666;
}

.sidebar .widget a {
	color: #484848;
}

.sidebar .widget a:hover {
	color: #e85657;
}

.sidebar .news-headline {
	color: #484848;
}

.sidebar .news-link:hover>.news-headline {
	color: #e85657;
}

blockquote{
	font-family:Georgia,"Times New Roman",Times,serif;
	clear:both;
	font-size:1.5em;
/* 	font-style:italic; */
	line-height:1.4em;
	margin:0 0 0 54px;
	color: #484848;
	quotes:"\201C""\201D";
	position: relative;
	float: left;
}

.post-image img {
	border: 5px solid #eee;
}

.blog-image img {
	border: 5px solid #eee;       /* Opera/IE 8+ */
}


#main .partner-arrow h3 {
	color: #eee;
}

#main a:hover h1, #main a:hover h2, #main a:hover h3, #main a:hover h4, #main a:hover h5, #main a:hover h6 {
	color: #e85657;
}

.news-author, .news-time {
	color: #777777;
}

.news-author a {
	color: #777777;
	text-decoration: underline;
}

.news-author a:hover {
	color: #777777;
	text-decoration: none;
}

#footer, #socket {
	background-color: #eee;
}

.entry-title span {
	background: #fff;
}

a {
	color: #e85657;
}

a:hover {
	color: #ec6364;
}

a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover {
	color: #ec6364;
}

.more a:hover {
	background-color: #e85657;
}

.news-link:hover>.news-headline {
	color: #ec6364;
}

.flickr_images:hover {
	background-color: #ec6364;
}

.main_menu ul li a {
	color: #eee;
}

#top .main_menu .menu li ul a {
	color: #594E63;
}

.main_menu .menu li a.current, .main_menu .menu li a:hover {
	background: #3A65AE url(../images/patterns/pattern.png);
}

.main_menu .menu ul {
	border-top: none;
	border: solid 1px #e1e1e1;
}

.main_menu .menu ul li:first-child a {
	background-image: url(../images/menu-up.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: -9px;
	padding-top: 17px !important;
}

#top .main_menu .menu li ul a:hover, #top .main_menu .menu li ul a.current {
	color: #e85657;
}

.partners-title {
	background: #9f4d59 url(../images/patterns/pattern.png);
}

.contact-image img {
	border: 5px solid #eee;
}

.buy_button a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: right;
	border-image: initial;
	background: #ec6364 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.buy_button a:hover {
	color: #fff;
	background: #e85657 url(../images/patterns/pattern-pink.png);
}


.widget-title {
	background: #e1e1e1;
}

.widget-content {
	background: #eee;
}

.widget .flickr_images {
	background: #fff url(../images/img-bg-black.png) no-repeat center center;
}

.flickr_images:hover {
	background-color: #ec6364;
}

.portfolio-image img {
	border: 5px solid #eee;
}

.portfolio-image {
	background: #eee url(../images/img-bg-black.png) no-repeat center center;
}

#search_block {
	background: #e1e1e1;
}

#search_submit_block {
	background: #3A65AE url(../images/patterns/pattern.png);
}

#search_field_block {
	color: #484848;
}

#search_field_block:focus {
	color: #484848;	
}

.post-image img:hover {
	border: 5px solid #ec6364;
}

.blog-image img:hover {
	border: 5px solid #ec6364;
}

.comment-reply-link {
	color: #e85657;
}

.comment-reply-link:hover {
	color: #ec6364;
}

.comment-body {
	background-color: #e1e1e1;
}

.comment_input .input-textarea {
	background-color: #e1e1e1;
}

.input-textarea {
	background-color: #e1e1e1;
}

.contactform textarea {
	background-color: #e1e1e1;
}

.input-textarea:focus {
	border: 1px solid #ec6364;
}

.comment_input .input-textarea {
	color: #484848;
}

.contactform textarea {
	color: #484848;
}

.contactform textarea:focus {
	border: 1px solid #ec6364;
}

.input-textarea {
	color: #484848;
}

.input-submit {
	background: #3A65AE url(../images/patterns/pattern.png);
}

.input-submit:hover {
	background: #1fb0bf url(../images/patterns/pattern.png);
}

ul.lists {
	color: #484848;
}

.required {
	color: #484848;
}


/* Buttons */
.big_button_pink a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #DB3D93 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.big_button_pink a:hover {
	background: #ed50a6 url(../images/patterns/pattern-pink.png);
}

.medium_button_pink a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #DB3D93 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.medium_button_pink a:hover {
	background: #ed50a6 url(../images/patterns/pattern-pink.png);
}

.small_button_pink a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #DB3D93 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.small_button_pink a:hover {
	background: #ed50a6 url(../images/patterns/pattern-pink.png);
}

.big_button_blue a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #3A65AE url(../images/patterns/pattern.png);
	text-align: center;
}

.big_button_blue a:hover {
	background: #25bece url(../images/patterns/pattern.png);
}

.medium_button_blue a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #3A65AE url(../images/patterns/pattern.png);
	text-align: center;
}

.medium_button_blue a:hover {
	background: #25bece url(../images/patterns/pattern.png);
}

.small_button_blue a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #3A65AE url(../images/patterns/pattern.png);
	text-align: center;
}

.small_button_blue a:hover {
	background: #25bece url(../images/patterns/pattern.png);
}

.big_button_orange a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: right;
	margin-bottom: 20px;
	border-image: initial;
	background: #e05e26 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.big_button_orange a:hover {
	color: #fff;
	background: #f46f36 url(../images/patterns/pattern-pink.png);
}

.medium_button_orange a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #e05e26 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.medium_button_orange a:hover {
	background: #f46f36 url(../images/patterns/pattern-pink.png);
}

.small_button_orange a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #e05e26 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.small_button_orange a:hover {
	background: #f46f36 url(../images/patterns/pattern-pink.png);
}


.big_button_green a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: right;
	margin-bottom: 20px;
	border-image: initial;
	background: #959758 url(../images/patterns/pattern-green.png);
	text-align: center;
}

.big_button_green a:hover {
	color: #fff;
	background: #a1a366 url(../images/patterns/pattern-green.png);
}

.medium_button_green a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #959758 url(../images/patterns/pattern-green.png);
	text-align: center;
}

.medium_button_green a:hover {
	background: #a1a366 url(../images/patterns/pattern-green.png);
}

.small_button_green a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #959758 url(../images/patterns/pattern-green.png);
	text-align: center;
}

.small_button_green a:hover {
	background: #a1a366 url(../images/patterns/pattern-green.png);
}

.big_button_red a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: right;
	border-image: initial;
	margin-bottom: 20px;
	background: #e85657 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.big_button_red a:hover {
	color: #fff;
	background: #ec6364 url(../images/patterns/pattern-pink.png);
}

.medium_button_red a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #e85657 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.medium_button_red a:hover {
	background: #ec6364 url(../images/patterns/pattern-pink.png);
}

.small_button_red a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #e85657 url(../images/patterns/pattern-pink.png);
	text-align: center;
}

.small_button_red a:hover {
	background: #ec6364 url(../images/patterns/pattern-pink.png);
}

.big_button_purple a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #eee;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: right;
	margin-bottom: 20px;
	border-image: initial;
	background: #9f4d59 url(../images/patterns/pattern-dark-purple.png);
	text-align: center;
}

.big_button_purple a:hover {
	color: #eee;
	background: #a95965 url(../images/patterns/pattern-dark-purple.png);
}

.medium_button_purple a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #eee;
	font-size: 20px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #9f4d59 url(../images/patterns/pattern-dark-purple.png);
	text-align: center;
}

.medium_button_purple a:hover {
	background: #a95965 url(../images/patterns/pattern-dark-purple.png);
}

.small_button_purple a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #eee;
	font-size: 14px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #9f4d59 url(../images/patterns/pattern-dark-purple.png);
	text-align: center;
}

.small_button_purple a:hover {
	background: #a95965 url(../images/patterns/pattern-dark-purple.png);
}

.big_button_brown a {
	padding: 15px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 28px;
	line-height: 1em;
	width: auto;
	float: right;
	margin-bottom: 20px;
	border-image: initial;
	background: #c3b47d url(../images/patterns/pattern-yellow.png);
	text-align: center;
}

.big_button_brown a:hover {
	color: #fff;
	background: #d3c48d url(../images/patterns/pattern-yellow.png);
}

.medium_button_brown a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #c3b47d url(../images/patterns/pattern-yellow.png);
	text-align: center;
}

.medium_button_brown a:hover {
	background: #d3c48d url(../images/patterns/pattern-yellow.png);
}

.small_button_brown a {
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	width: auto;
	float: left;
	border-image: initial;
	margin-bottom: 20px;
	background: #c3b47d url(../images/patterns/pattern-yellow.png);
	text-align: center;
}

.small_button_brown a:hover {
	background: #d3c48d url(../images/patterns/pattern-yellow.png);
}

ul.tabs {
	background: #e1e1e1;
}

.panes {
	background: #eee;
}

ul.tabs li a:hover, ul.tabs li.active a {
	color: #484848;
}

h4.trigger.active {
	color: #e85657;
}

h4.trigger:hover, h4.trigger.active:hover {
	color: #e85657;
}

h4.trigger.active {
	color: #e85657;
}

h4.trigger {
	background: #e1e1e1;
}

.team-image img {
	border: 5px solid #eee;
}

.team-position {
	color: #888888;
}

#price-table .pack li.even {
	background-color: #484848;
}

.error404 {
	color: #484848;
}

.button {
	background: #ec6364 url(../images/patterns/pattern-pink.png);
}

#filters a {
	color: #484848;
}

#filters a.active_sort {
	color: #e85657;
}

#filters a:hover {
	color: #e85657;
}