/*=== PageNavi. ===*/
.wp-pagenavi { clear:both; font: normal 12px Arial, Helvetica, sans-serif; margin:0 auto; text-align:right; color:#565656; padding:20px 0;}
.wp-pagenavi a,
.wp-pagenavi .current { color:#292929; border:1px solid #bcbcbc; margin-left:3px; padding:5px 10px; text-decoration:none; background:#d8d8d8;}
.wp-pagenavi a:hover,
.wp-pagenavi .current { background:#848484; color:#fff; border:1px solid #646464; }
.wp-pagenavi .pages { float:left;}
