/*
Theme Name: qwertypress
Theme URI: http://www.templateaccess.com/
Description: The Marketplace for Premium Templates & Themes.
Version: 1.0
Author: TemplateAccess.com
*/ 
/*=== Setup ===*/
* { border:0; margin:0 auto; padding:0; outline:none; }
body {  font:13px Arial, Verdana, Helvetica, sans-serif; color:#494949; padding:0; margin:0; }
a { color:#494949; text-decoration:none; }
a:hover { text-decoration:none; }
p.clr, .clr { clear:both; padding:0; margin:0; background:none; }
p.bg, .bg { clear:both; padding:0; margin:10px 0; border-bottom:1px solid #bababa; height:2px; }
input, select, textarea { border:#cfcfcf 1px solid; color:#404040; font-size:12px; padding:3px; font-family:Arial, Verdana, Helvetica, sans-serif; }
li { list-style:none; }
h1, h2 { color:#222222; font-size:1.5em; font-weight:normal; letter-spacing:-1px; margin:0 0 1em; }
h3 { color:#333333; font-size:1.2em; margin:0 0 .8em; }
h4 { font-size:1em; margin:0 0 1em; }
p { line-height:1.5em; padding:0 0 1.3em; }
/*=== Layout ===*/
#page { margin:0 auto; padding:0; background:#f1f1f1 url(images/index_bg.gif) top repeat-x;}
#page2 { margin:0 auto; padding:0; background:#f1f1f1 url(images/html_bg.gif) top repeat-x;}
/*=== Header ===*/
#header { margin:0 auto; padding:0; width:980px; }
.blog_header { padding:19px 5px;}
.blog_header h2 { font: normal 24px Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0; text-transform:uppercase;}
/*- Logo -*/
.logo { width:221px;  margin:0; padding:0; float:left; }
.logo h1 { background: url(images/logo.gif) top no-repeat; float:left; text-indent:-9999px; width:221px; margin:0; padding:0; }
.logo h1 a { display:block; height:83px; }
.logo h1 a:hover { text-decoration:none; }
/*=== Navigation ===*/
/* RSS */
.rss { width:150px; float:left; padding:5px 10px; margin:5px 0 0 0; font: bold 11px Arial, Helvetica, sans-serif; background:#0f0f0f; border:1px solid #2e2e2e; }
.rss img { float:right; margin:0 3px;}
.rss a { color:#a0a0a0; text-decoration:none;}
/* Search form */
.search { width:190px; float:right; margin:0; padding:5px 0 6px 0;}
#search span { width:181px; display:block; background:url(images/search_bg.gif) top no-repeat; height:27px; margin:0 auto; padding:0; }
#search input#s { float:left; width:145px; padding:7px 0 7px 10px; margin:0; border:0; background:none; color:#858585; font:normal 11px Arial, Helvetica, sans-serif; line-height:13px;}
#search .btn { float:left; padding:0; margin:0; border:0; width:auto; }
/*- Top Nav -*/
.topnav { margin:0; padding:20px 0 0 0; width:500px; float:right; }
.topnav ul { list-style:none; padding:0; margin:0; }
.topnav li { float:right; padding:0 5px; }
.topnav li a { font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#525252; display:block; float:left; padding:15px 0;}
.topnav li a span { background:none; padding:15px 15px; }
.topnav li a:hover { color:#525252; background:url(images/r_menu.gif) no-repeat right; }
.topnav li a:hover span {color:#525252; background:url(images/l_menu.gif) no-repeat left; }
.topnav li.current_page_item a {color:#525252; background:url(images/r_menu.gif) no-repeat right; }
.topnav li.current_page_item a span {color:#525252; background:url(images/l_menu.gif) no-repeat left; }
/*=== All Columns ===*/
#columns { margin:0 auto; padding:40px 0; width:980px;  }
/*=== Center Column ===*/
#centercol { float:left; width:644px; padding:0; }
/*--- HTML blog ---*/
.html_blog { float:left; width:290px; padding:0 5px 0 35px;}
.html_blog.first { padding:0 5px;} 
.html_blog h2 {  padding:0 0 15px 0; margin:0 0 10px 0; border-bottom:1px solid  #dadada; font:normal 24px Arial, Helvetica, sans-serif; color:#181818;}
.html_blog h2 span { font: normal 11px Arial, Helvetica, sans-serif; color:#a0a0a0;}
/*=== Right Column ===*/
#rightcol { float:right; width:300px; padding:0; }
#rightcol .box { padding:0 10px;}
.small_link { padding:0; margin:0 auto; }
.small_link a { color:#959595; text-decoration:none; }
/*=== Sub Columns ===*/
.subcols { background:url(images/subcols-bgr.gif) repeat-y left; height:1%; }
.col1, .col2 { float:left; width:285px; }
.col2 { float:right; }
/*=== Post ===*/
.post-block { }
.post-margin { margin-left:236px; }
/*- Post Title -*/
.post-title { padding:5px 0; margin:0;  }
.post-title h2 { margin:0; padding:0; font:normal 24px Arial, Helvetica, sans-serif; color:#151515;}
.post-title h2 a { display:inline; padding:0; margin:0; color:#151515; text-decoration:none; }
/*- Post Excerpt -*/
.post-excerpt { padding:0; display:table; font: normal 12px Arial, Helvetica, sans-serif; color:#797979; margin:0; }
.post-excerpt p { line-height:1.8em;}
.post-excerpt img { float:left; margin:10px 0 0 0; padding:0;}
/*- Post Lists -*/
.post ul, .post ol { margin:0 0 1.5em; }
.post ul li { background:url(images/ico-list.gif) no-repeat 0 6px; margin:0 0 .4em; padding:0 0 0 10px; }
.post ol li { list-style:decimal; list-style-position:inside; margin:0 0 .4em; }
/*- Post Blockquote -*/
.post blockquote { border-left:3px solid #cfcfcf; font-size:13px; font-style:italic; margin:0 0 1.5em; padding:5px 0 0 10px; }
/*- Post Author -*/
.post-author { margin:0 0 1em; }
.author-details { font-size:11px; }
.author-descr { display:table; height:1%; }
/*- Social Links -*/
.social-links { font: normal 13px Arial, Helvetica, sans-serif; padding:5px 0; margin:0 0 5px 0; color:#9f9f9f; line-height:1.8em; border-bottom:1px solid #dfdfdf; border-top:1px solid #dfdfdf;}
.social-links a { color:#1b8ead; font-weight:bold; text-decoration:underline; }
.social-links a:hover { text-decoration:none; }
/* post-commets */
.post-commets { width:46px; height:38px; float:right; background: url(images/commetns_bg.gif) top no-repeat; text-align:center; padding:8px 0 0 0; margin:0; font: normal 18px Arial, Helvetica, sans-serif; color:#272727;}
.post-commets a { color:#272727; text-decoration:none; }
/*- Related Posts -*/
/*- Post Link -*/
.post-link {}
/*- Post Date -*/
.post-date { font: normal 13px Arial, Helvetica, sans-serif; padding:5px 0; margin:0 0 10px 0; color:#9f9f9f; line-height:1.8em; border-bottom:1px solid #dfdfdf; border-top:1px solid #dfdfdf;}
.post-date a { color:#1b8ead; font-weight:bold; text-decoration:underline; }
.post-date a:hover { text-decoration:none; }
/*- Post Comments -*/
.post-comments h2 { padding-top:10px; }
.post-comments .fl { width:80px; }
.post-comments .fr { width:500px; }
/*- Widget Title - */
.wtitle { padding:0 0 15px 0; margin:0 0 10px 0; border-bottom:1px solid  #dadada;}
.wtitle h2 { margin:0; padding:0; font:normal 24px Arial, Helvetica, sans-serif; color:#181818;}
/*=== Styling Boxes ===*/
/*- Box1 -*/
.box { margin:0 0 15px 0; padding:0 0; }
.box .content { height:1%; padding:0; }
.box .ac { padding:5px 0; text-align:center; }
/*- Box2 -*/
.box2 { background:#f9f9f9; border:1px solid #cfcfcf; height:1%; margin:0 0 20px; padding:18px; min-height:115px; width:470px; }
.box2.alt { background:#FFFFFF; }
.comm-name, .comm-date { line-height:20px; }
/*=== Styling Lists ===*/
/*- List -*/
.list { height:31px; color:#898989; font:normal 12px Arial, Helvetica, sans-serif; clear:both; padding:0 0 8px 0; }
.list li { float:left; margin:0; padding:0 5px 0 0; }
.list li a { display:block; float:left; padding:10px; text-align:center; text-decoration:none; color:#898989; }
.list li a:hover, .list li a.active { padding:9px; color:#4b4b4b; border:1px solid #b8b8b8; background:#d3d3d3;}
div.tabs_list { padding:0; margin:0; }
div.tabs_list ul { list-style:none; text-align:left; padding:4px 0;}
div.tabs_list ul li { font:normal 12px Arial, Helvetica, sans-serif; padding:0; margin:5px 0; }
div.tabs_list ul li a { display:block; padding:5px 0 5px 25px; margin:0; color:#666; border-bottom:1px solid #dadada; background: url(images/ul_li.gif) 10px no-repeat;  }
div.tabs_list ul li a:hover { text-decoration:none; color:#4b4b4b; }
div.tabs_list ul li ul.children { padding:0; border:none;  }
div.tabs_list ul li ul.children li { margin:0; border:none;  }
div.tabs_list ul li ul.children a { background:none; border:none; }
div.tabs_list ul li ul.children a:hover { color:#4b4b4b;}
div.tabs_list ul li ul.children li a { padding:5px 0 5px 20px; display:block; border:none;  }
div.tabs_list ul li ul.children li li a { padding:5px 0 5px 25px; display:block; }
/*- List1 -*/
.list1 li { background:url(images/ico-list1.gif) no-repeat 0 1.1em; border-bottom:1px solid #e7e7e7; height:1%; padding:.7em 0 .7em 13px; }
.list1 li.last { border:0; }
#rightcol .list1 li a:hover { color:#33707e; }
/*=== Styling Forms ===*/
input.btn { background:none; border:0; margin:0; padding:0; }
select { padding:1px; }
/*- Message -*/
.message div { margin:0 0 18px; }
.message input { padding:9px 15px; width:470px; }
.message textarea { height:114px; overflow:auto; padding:9px 15px; width:470px; font-family:Verdana; }
.message .submit { float:left; }
.message .btn { padding:0; width:128px; height:32px; background:url(images/button.gif); }
.message .notice { color:#a4a4a4; float:right; font-style:italic; padding:10px 0 0; }
/*=== Pics, Thumbs, Ads etc. ===*/
.pic img { display:block; margin:0 0 10px 0; padding:5px; background:#fff;}
.pic.fl img { margin:5px 15px 0 0; }
.pic.fr img { }
.th { display:block; margin:0 0 .5em; }
.th.fl img { margin-right:10px; max-width:40px; }
.ads img, .widget_flickrRSS img { margin:5px 3px; }
.widget_flickrRSS img { border:1px solid #cfcfcf; }
.box .ac img { border:0; margin:0; }
/*=== Footer ===*/
#page_bottom { background:#171717; border-top:1px solid #252525; padding:0; }
#page_bottom2 { background:#171717 url(images/html_footer_bg.gif) top repeat-x; padding:0; }
#footer { color:#a9a9a9; width:970px; text-decoration:none; font:normal 13px Arial, Helvetica, sans-serif; margin:0 auto; padding:0; }
#footer a { color:#a9a9a9; font-weight:bold; }
#footer span { color:#a9a9a9; }
#footer .text2 { padding:20px; float:right; }
#footer .text { padding:20px; float:left; }
/*=== Misc. ===*/
.fix { clear:both; height:1px; margin:-1px 0 0; overflow:hidden; }
.hl, .hl2 { background:url(images/hl-dot.gif) repeat-x top; clear:both; height:2px; overflow:hidden; width:100%; }
.hl2 { background:none; border-top:1px solid #e7e7e7; height:1px; margin:0 0 .8em; }
.fl { float:left; }
.fr { float:right; }
.ac { text-align:center; }
.ar { text-align:right; }
.noBorder { border:0; }
.font-sm { font-weight:normal; }
.white { color:#FFF; }
/* Slider */
#slider { width:980px; padding:0; margin:0 auto;}
div#slideshow { float: left; width: 100%; height: 358px;}
.slider-item { width: 100% !important; height: 358px;}
/* test */
.text_html { background:#fff; border:1px solid #e5e5e5; padding:5px 20px; }
.text_html img.floated { float:left; margin:0 20px 0 0; padding:0;}
.text_html img { margin:0; padding:0;}
.text_html p { font: normal 12px Arial, Helvetica, sans-serif; color:#888; padding:0; margin:0; line-height:1.8em;}